mixin content(item)
  if (item.heading)
    h2.product__heading!= item.heading
  if (item.subheading)
    .product__subheading!= item.subheading
  each text in item.text
    if (text.title)
      b.product__title!= text.title
    else if (text.phone)
      a.product__phone(href= text.phone.link)!= text.phone.name
    else if (text.street)
      p.product__text.product__text--small!= text.street
    else 
      p.product__text!= text
section.content
  .container-fluid
    each item, i in page.content
      .row
        .clearfix.product
          case i + 1
            when 1
              .col-xs-12.col-sm-7.col-sm-offset-5.col-md-7.col-md-offset-5
                .product__content.product__content--pl
                  +content(item)
            when 2
              .col-xs-12.col-sm-4.col-md-4.col-lg-offset-1
                .product__content
                  +content(item)
            when 3
              .col-xs-12.col-sm-4.col-sm-offset-8.col-md-4.col-sm-offset-8.col-lg-offset-7
                .product__content
                  +content(item)
            when 4
              if (item.gallery)
                .col-xs-12.col-sm-6.col-md-4
                  .product__content.product__content--pr
                    +content(item)
                .col-xs-12.col-sm-6.col-md-8
                  .gallery
                    .row
                      each gallery in item.gallery
                        .col-xs-12.col-sm-6.col-md-4
                          .gallery__item
                            a.gallery__link(href= gallery.link)
                              img.img-responsive.gallery__img(src='img/' + gallery.img, alt= gallery.alt)
              else 
                .col-xs-12.col-sm-6.col-sm-offset-6.col-md-7.col-md-offset-5
                  .product__content.product__content--pl
                    +content(item)
          i.ic.product__icon(class= item.icon)
